{%extends 'base.html'%}
{% block content%}

  <div class="category col-md-12 text-center">
    <h4>
      {% for i in sitelist%}
        {% if i == 'All' %}
          <a href="/" style="color:black">All</a>&nbsp;
        {% else %}
          {% if i == site %}
            <a href="?site={{i}}" style="color:  #b3dc6c">
          {% else %}
            <a href="?site={{i}}" style="color:black">
          {% endif %}
          {{i}}</a> &nbsp;
        {% endif %}
      {% endfor %}

      
      
    </h4> 
    
      <p><a href="?site={{site}}&rate=true" data-toggle="tooltip" title="평점순으로 정렬하기!"class="sort">* Sort By Rate</a></p>
  </div>



  
<table class="table table-hover centa">
    
    <tbody>
        
        {% for p in posts %}
          <tr onClick = location.href="{% url 'detail' p.id %}">
            <td>
                {% if p.site == 'Netfilx' %}
                    <span class="label label-danger">
                {% elif p.site == 'Watcha' %}
                    <span class="label label-warning">
                {% elif p.site == 'Qoop' %}
                    <span class="label label-info">
                {% elif p.site == 'Tving' %}
                    <span class="label label-success">
                {% else %}
                <span class="label label-default">
                {% endif %}

                {{p.site}}</span>
            </td>
            <td>{{p.contry}}</td>
            <td><b data-toggle="tooltip" title="{{p.summary}}" >{{p.title}}</b></td>
            <td>
                {%for i in ratelist%}
                {% if forloop.counter > p.rate%}
                 &nbsp;
                {% else %}
                  ⭐
                {% endif %}
              {%endfor%}
            </td>
          </tr>
          {% empty %}
            <tr><td><b>{{search}}</b>에 대한 검색결과가 없습니다</td></tr>
      {% endfor %}
    </tbody>
  </table>
  

<br><br>
<div class="pag">

  {% if posts.has_previous %}
    <a href="?page={{posts.previous_page_number}}" >‹ Prev </a>
  {% else %}
    ‹ Prev
  {% endif %}

  &nbsp;

  {% for p in posts.paginator.page_range %}
    
    {% if posts.number == p %}
      <a href="?page={{p}}" class="act">{{ p }}&nbsp;</a>
    {% else %}
      <a href="?page={{p}}">{{ p }}&nbsp;</a>
    {% endif %}

  {% endfor %}

  &nbsp;
      
  {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">Next ›</a>
  {% else %}
    Next ›
  {% endif %}
</div>



  


{% endblock %}