{% load static %}
<head>
        


        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Gothic+A1|Permanent+Marker|Lobster|ZCOOL+KuaiLe|Nanum+Gothic+Coding" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


        <link rel="shortcut icon" href="{% static 'img/m_icon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
        
    
    
        <title>방구석 1열</title>
    </head>
    <body>
            
        
            {% block content %}
    
    
            {% endblock %}
    </body>